# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Env
.env
.env.local
.env.*.local
.env.production

# TypeScript
*.tsbuildinfo

# Example apps
app-example

# Generated native folders (KEEP ONLY IF USING EXPO MANAGED WORKFLOW)
ios/
android/
